<% if user_signed_in? %>
	<h1> Sie haben sich eingeloggt!</h1>
<% else %>
	<div class="jumbotron">

<h1>Wilkommen auf der Saftapp seite</h1>
<p>You've found the home page for the 
	 <%= link_to "Ruby link_to API", "http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to" %> 
</p>

<p>
<%= link_to "Jetzt Anmelden!", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
</p>

</div>
<% end %>
